.OpenSidebar {
    display: none;
    padding-left: 1.7em;
}
.OpenSidebar-Container {
    padding-bottom: 100px;
    position: fixed;
    top: 70px;
    width: 215px;
    height: 100vh;
    overflow-y: scroll;

}
.OpenSidebar-Section {
    margin-top: 20px;
}
.OpenSidebar-SignIn-Text {
    margin-bottom: 10px;
}
.OpenSidebar-DetailsList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.OpenSidebar-DetailsList > p {
    margin-right: 8px;
    font-size: 13;
    font-weight: 500;
    opacity: .6;
}
.OpenSidebar-Details > p {
    opacity: .4;
}

@media (min-width: 1314px) {
    .OpenSidebar {
        display: block;
    }
}
