.OpenSidebar {
    /* display: none; */
    margin-bottom: 20px;
    overflow-y: scroll;
}
.Sidebar_shw {
    width: inherit;
    padding-left: 1.4em;
}
.OpenSidebar-Section {
    margin-top: 20px;
}
.OpenSidebar-SignIn-Text {
    margin-bottom: 10px;
}
.OpenSidebar-DetailsList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.OpenSidebar-DetailsList > p {
    margin-right: 8px;
    font-size: 13;
    font-weight: 500;
    opacity: .6;
}
.OpenSidebar-Details > p {
    opacity: .4;
}
