.OpenSidebar {
    display: none;
    z-index: 4;
    height: 0px;
    width: inherit;
    height: inherit;
}
.OpenSidebar_show {
    display: block;
}
.OpenSidebar-Container {
    padding-bottom: 100px;
    position: fixed;
    top: 55px;
    left: 0px;
    width: inherit;
    height: inherit;
    overflow-y: hidden;
    padding-left: 1.7em;
    background-color: #fff;
}
.OpenSidebar-Container_show {
    overflow: scroll;
}
.OpenSidebar-Section {
    margin-top: 20px;
}
.OpenSidebar-SignIn-Text {
    margin-bottom: 10px;
}
.OpenSidebar-DetailsList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.OpenSidebar-DetailsList > p {
    margin-right: 8px;
    font-size: 13;
    font-weight: 500;
    opacity: .6;
}
.OpenSidebar-Details > p {
    opacity: .4;
}

@media (min-width: 1314px) {
    .OpenSidebar {
        display: block;
        width: 240px;
        overflow: scroll;
    }
    .OpenSidebar-Container {
     overflow-y: scroll;
    }
    .OpenSidebar_close {
        display: none;
        background-color: yellow;
    }
}
