.Search {
    display: flex;
    align-items: center;
    flex-basis: calc(100% - 340px - 25%);
    margin-right: 12px;
}
.Search-ArrowLeft {
    display: none;
}
.Search-Form {
    position: relative;
}
.Search-Input {
    display: none;
}
.Search-Form input:focus {
    outline: none;
}
.Search-Input_show {
    display: block;
}
.Search-Form-SearchBtn {
    margin-right: .6em;
    margin-top: 5px;
    flex-basis: 54px;
    font-size: 1.7em;
}
.Search-Form-SearchBtn_one {
    display: none;
    border: none;
}
.Search-Form-SearchBtn_show {
    display: block;
}
.Search-Filter {
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 35px;
    left: 0px;
    z-index: 2;
    font-weight: 500;
    line-height: 32px;
    border: 1px solid #ccc;
    width: 100%;
    display: none;
}
.Search-Filter_show {
    display: block;
}
.Search-Filter_close {
    display: none;
}
.Search-Filter li {
    margin: 10px 0px;
    display: flex;
}
.Search-Filter li .Icon {
    flex-basis: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 3px;
}
.Search-Filter li p {
    width: calc(100% - 20px);
    font-size: 16px;
}
.Search-Microphone {
    height: 35px;
    width: 40px;
    border-radius: 50%;
    padding: 9px;
}

.Search_btnClicked {
    flex-basis: 100%;
}
.Search_btnClicked .Search-ArrowLeft {
    display: block;
    margin-right: 5px;
    height: 35px;
    width: 40px;
    padding: 6px;
}
.Search_btnClicked .Search-Form {
    border: 1px solid #000;
    height: 35px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-basis: calc(100% - 40px);
}
.Search_btnClicked input {
    border: none;
    display: inline-block;
    width: calc(100% - 54px);
    padding-left: 5px;
    font-size: 1.1em;
    border-radius: 3px;
    height: 32px;
}
.Search_btnClicked .Search-Form-SearchBtn {
    border-left: 1px solid #000;
    height: 33px;
    padding: 6px;
    margin-top: 0px;
    margin-right: 0px;
}
.Search_btnClicked .Search-Form-SearchBtn:first-of-type {
    display: block;
    flex-basis: 40px;
}
.Search_btnClicked .Search-Microphone {
    background-color: var(--ash);
    border-radius: 50%;
    margin-left: 5px;
}

@media (min-width: 657px) {
    .Search {
        padding-left: 0%;
        margin-left: 1.5%;
    }
    .Search-Form {
        border: 1px solid #000;
        height: 35px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        flex-basis: calc(100% - 40px);
    }
    .Search-Form input {
        border: none;
        display: inline-block;
        width: calc(100% - 54px);
        padding-left: 5px;
        font-size: 1.1em;
        border-radius: 3px;
        height: 32px;
    }
    .Search-Form-SearchBtn {
        border-left: 1px solid #000;
        height: 33px;
        padding: 6px;
        margin-top: 0px;
        margin-right: 0px;
    }
    .Search-Microphone {
        background-color: var(--ash);
        border-radius: 50%;
        margin-left: 5px;
    }
    .Search-Right {
        flex-basis: 200px;
        margin-left: auto;
    }
}

@media (min-width: 1180px) {
    .Search {
        padding-left: 0%;
        flex-basis: calc(100% - 340px - 30%);
    }
}

@media (min-width: 1500px) {
    .Search {
        padding-left: 0%;
        flex-basis: calc(100% - 340px - 35%);
    }
}

@media (min-width: 1580px) {
    .Search {
        padding-left: 0%;
        flex-basis: calc(100% - 340px - 40%);
    }
}

@media (min-width: 1650px) {
    .Search {
        padding-left: 0%;
        flex-basis: calc(100% - 340px - 45%);
    }
}
