.Navbar {
    height: 5vh;
    z-index: 2;
}
.Navbar-Container {
    position: fixed;
    width: 100%;
    padding: 1vh 1.5em;

}
.Navbar-Components {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navbar-Left {
    display: flex;
    align-items: center;
    flex-basis: 170px;
    margin-right: auto;
    margin-left: 5px;
    height: 35px;
}

.Navbar-Right {
    flex-basis: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}

.Navbar-Grid {
    margin-right: auto;
}
.Navbar-Dots {
    margin-right: .8em;
}

@media (min-width: 657px) {
    .Navbar-Right {
        flex-basis: 200px;
        margin-left: auto;
    }
}

@media (min-width: 792px) {
    .Navbar {
        grid-column: span 2;
    }
}