.Sidebar {
    display: none;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.Sidebar_shw {
    width: inherit;
    padding-left: 1.4em;
}
.Sidebar-Section {
    margin-top: 20px;
}
.Sidebar-SignIn-Text {
    margin-bottom: 10px;
}
.Sidebar-DetailsList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.Sidebar-DetailsList > p {
    margin-right: 8px;
    font-size: 13;
    font-weight: 500;
    opacity: .6;
}
.Sidebar-Details > p {
    opacity: .4;
}
