.SidebarDuo {
    display: flex;
    align-items: center;
    margin: 12px 0px;
}
.SidebarDuo-Logo {
    margin-right: 1.8em;
}
.SidebarDuo-Logo_shade {
    padding: 5px;
    padding-bottom: 4px;
    padding-top: 10px;
    border-radius: 50%;
    background-color: #000;
    font-size: .8em;
    color: #fff;
}
.SidebarDuo-Name {
    font-size: 14px;
}