:root {
  --button-color: rgb(27, 115, 248);
  --ash: rgb(238, 236, 236);
  --black: #030303;
  --sidebar-line: rgb(219, 213, 213);
  --beforeHeight: 0px;
  --bodyOverflowY: 'hidden'
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

body {
  margin: 0;
  color: var(--black);
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow-x: 'hidden';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #8b8ba8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
