.ClosedSidebar {
    display: none;
}

@media (min-width: 792px) {
    .ClosedSidebar {
        display: block;
    }
}

@media (min-width: 1314px) {
    .ClosedSidebar {
        display: none;
    }
}