.ClosedSidebar {
    display: none;
    margin-top: 15px;
}

.ClosedSidebar-Container {
    position: fixed;
}

@media (min-width: 792px) {
    .ClosedSidebar {
        display: block;
    }
}

@media (min-width: 1314px) {
    .ClosedSidebar {
        display: none;
    }
    .ClosedSidebar_show {
        display: block;
        width: 72px;
    }
}